<div class="relative flex items-center justify-between mx-auto header_inner">
    <a routerLink="/" class="relative flex overflow-hidden header_inner_logo font aspect-square">
        <img [src]="imglogo" loading="lazy" alt="web logo" class="pointer-events-none select-none">
    </a>

    <nav class="{{toggleclass}}">
        <ul class="flex items-center gap-4 font">
            <li *ngFor="let item of navigationlinkArray"> <a [routerLink]="item.link" rel="follow" (click)="closeMenu()">{{ item.name }}</a> </li>
        </ul>
    </nav>

    <button class="toggle_btn {{toggleclass}}" (click)="toggleMenu()">
        <span class="toggle_btn_line" *ngFor="let i of ['','','']"></span>
    </button>


    <div class="nav-blur {{toggleclass}}" (click)="closeMenu()"></div>
</div>