<div class="header_inner relative mx-auto flex items-center justify-between">
    <a routerLink="/" class="header_inner_logo font relative flex overflow-hidden aspect-square">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/006/886/451/small_2x/website-settings-glyph-circle-background-icon-vector.jpg" loading="lazy" alt="web logo"
             class="pointer-events-none select-none">
    </a>


    <nav>
        <ul class="flex items-center gap-4 font">
            <li><a routerLink="" rel="nofollow">მთავარი</a></li>
            <li><a routerLink="about-us" rel="nofollow">ჩვენ შესახებ</a></li>
            <li><a routerLink="portfolio" rel="nofollow">ნამუშევრები</a></li>
            <li><a routerLink="pricing" rel="nofollow">ფასები</a></li>
            <li><a routerLink="services" rel="nofollow">სერვისები</a></li>
        </ul>
    </nav>
    
</div>