<div class="footer_inner w-full relative flex justify-center items-center text-white">
    <div class="footer_inner_left-content flex flex-col justify-center items-center text-center">
        
        <div class="inner">
            <p class="top_text font">ბილ გეიტსი</p>
            <p class="text mt-3 font">"თუ შენი ბიზნესი ინტერნეტში არაა, მაშინ არც შენ ხარ ბიზნესში"</p>
            <button class="font mt-5 contact_btn rounded-sm overflow-hidden">
                <a routerLink="contact" rel="follow" class="flex justify-center items-center" style="padding: 10px 20px;">შემოგვიერთდი</a></button>
        </div>
        
    </div>

    <div class="footer_inner_right-content relative py-14 px-8 flex flex-col justify-between items-start text-center">
        
        <div class="cont_box flex flex-wrap gap-5">
            <ul class="flex flex-col gap-2">
                <p class="font title mb-1">გვერდები</p>
                <li><a routerLink="" rel="follow" class="font">საიტის დამზადება</a></li>
                <li><a routerLink="" rel="follow" class="font">სოც. მენეჯმენტი</a></li>
            </ul>
        </div>

        <p class="font booto-text">&#169; 2025. საიტის სახელი - ყველა უფლება დაცულია</p>
        
    </div>
</div>