<section class="relative homepage_inner">

    <section class="relative flex items-center justify-center w-full overflow-hidden homepage_inner__hero_cont" *ngIf="true">
        <img src="../../../assets/image/163302763816327698011632602616Consult_header-10.webp" loading="lazy" alt="hero section image"
        class="absolute w-full h-full pointer-events-none select-none object-cover object-bottom-right sm:object-[80%_100%] lg:object-center" />
        
        <div class="homepage_inner__hero_cont_text-cont absolute w-[80%] z-10">
            <h1 class="text-4xl text-white font sm:text-5xl lg:text-6xl">საიტის დამზადება <br> <span>{{webname}}</span> </h1>
            <p class="font text-sm text-white mt-3 max-w-[600px]">
                ეძებ <span>ვებ დეველოპერს</span>? {{webname}}-ი სწორი არჩევანია, რომელსაც შენ ეძებ! მე ვარ გუნდის წევრი,
                რომელსაც აქვს მრავალწლიანი გამოცდილება და შემიძლია თავი გავართვა ნებისმიერი სირთულის პროექტს. გააკეთე სწორი არჩევანი, იმოქმედე ჩემთან ერთად და ერთად გავხდეთ წარმატებულები!
            </p>
        </div>

        <div class="absolute z-10 overflow-hidden cursor-pointer bottom-5 scrolldown pointer" (click)="scrollDown()">

            <div class="relative flex items-center justify-center pointer-events-none scrollDown-cont">
                <div class="absolute pointer-events-none scroller"></div>
            </div>
            
        </div>
        
    </section>

    <section class="relative flex items-center justify-center w-full homepage_inner__services_price_cont" *ngIf="true">

        <div class="homepage_inner__services_price_cont_inner">

            <p class="homepage_inner__services_price_cont_inner_query_title font">თქვენს ბიზნესზე მორგებული პაკეტები</p>
            <h2 class="mt-3 homepage_inner__services_price_cont_inner_section_title font">საიტის დამზადება, სეო და სოც. მენეჯმენტი</h2>


            <div class="relative flex flex-wrap items-center justify-center gap-5 mt-6 card_cont">

                <div class="card_item" *ngFor="let item of priceArray">
                    <div class="flex flex-col card_item_inner">
                        <h3 class="card_title font">{{item.title}}</h3>
                        <p class="mt-4 card_price font">{{item.price}}&#8382;<span>{{item.Late}}</span></p>
                        <button class="flex mt-10 overflow-hidden rounded-sm cursor-pointer card_btn font">
                            <a [routerLink]="item.link" rel="follow" class="flex items-center justify-center">პაკეტები</a>
                        </button>
                    </div>
                </div>

            </div>
            
        </div>


    </section>
    
    <section class="relative flex items-center justify-center homepage_inner__about" *ngIf="true">
        <div class="flex items-center justify-center gap-3 homepage_inner__about_inner">

            <aside class="relative flex items-center justify-end images_cont">
                <div class="relative grid flex-wrap items-center justify-end grid-cols-2 gap-5 images_cont_inner">
                    <div class="image1 about-image"><img [src]="image1" loading="lazy" alt="about image" class="pointer-events-none select-none"></div>
                    <div class="image2 about-image"><img [src]="image1" loading="lazy" alt="about image" class="pointer-events-none select-none"></div>
                    <div class="image3 about-image"><img [src]="image1" loading="lazy" alt="about image" class="pointer-events-none select-none"></div>
                </div>
            </aside>
            
            <aside class="relative text-cont">
                <h3 class="about_sec_title font">ჩვენ გვჯერა მარტივი<br> <span>მაგრამ ეფექტური გადაწყვეტილებების!</span></h3>
                <p class="mt-4 font text1">
                    {{webname}}-ის გუნდი, შეიქმა ერთი მიზნის მისაღწევად: დაგეხმაროთ თქვენი ბიზნესის განვითარებაში!
                    ჩვენ გთავაზობთ უნიკალურ მომსახურებას, რომლებიც აერთიანებს წარმატებული ბიზნესის განვითარებისთვის აუცილებელ ციფრულ სერვისებს.
                </p>
                <ul class="flex flex-col gap-2 mt-4 ml-6 text-sm list-disc">
                    <li class="font">უნიკალური დიზაინის მქონე, კარგად აღქმადი, გამორჩეული, დასამახსოვრებელი, პოზიტიური ასოციაციების მქონე ვებგვერდის შექმნა</li>
                    <li class="font">კრეატიული, ინფორმაციული, ეფექტური და ინოვაციური სარეკლამო ტექსტების  მომზადება</li>
                    <li class="font">Ბიზნესის პოპულარიზაცია, Google-ში მოწინავე პოზიციების მოპოვება, საძიებო სისტემების ოპტიმიზაცია (SEO)</li>
                </ul>
                <button class="mt-5 overflow-hidden rounded-sm about-BTN font">
                    <a routerLink="/pricing" rel="follow" class="flex items-center justify-center w-full h-full">მიიღე შეთავაზება</a>
                </button>
            </aside>
            
        </div>
    </section>

    <section class="relative flex items-start justify-center homepage_inner__services_section" *ngIf="true">
        <div class="relative pt-3 pb-10 homepage_inner__services_section_inner">
            <h3 class="section_title font">რა შეგვიძლია?</h3>
            <p class="mx-auto mt-3 services_text font">ჩვენი სერვისების დახმარებით, შეძლებთ უკეთ პოზიციონირდეთ ბაზარზე, გახდეთ ხელმისაწვდომი და კონკურენტუნარიანი, ეფექტური და ინოვაციური სერვისების გამოყენებით.</p>

            <div class="flex flex-wrap items-center justify-center w-full gap-5 services_card_cont mt-7">

                <div class="relative overflow-hidden services_card_cont_item rounded-2xl" *ngFor="let item of servicesArray">
                    <div class="absolute w-full pointer-events-none card-image-dark"></div>
                    <div class="w-full pointer-events-none card_image-box"><img [src]="item.image" class="flex object-center w-full pointer-events-none select-none" loading="lazy" alt="card image"></div>
                    <div class="absolute z-10 flex items-center justify-center w-full pointer-events-none icon_image_box top-17">
                        <img [src]="item.icon" class="select-none" width="auto" height="48" alt="icon"></div>
                    <div class="absolute flex flex-col items-center justify-start w-full card_text-cont top-37">
                        <h3 class="card_title font">{{item.title}}</h3>
                        <p class="mt-5 text-center card_text font">{{item.description}}</p>
                        <button class="absolute bottom-0 card_btn font">
                            <a routerLink="{{item.link}}" rel="follow" class="flex items-center justify-center w-full h-full px-3 py-2">გაიგე მეტი</a>
                        </button>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    <section class="relative flex items-start justify-center homepage_inner__fun-facts_section" *ngIf="true">
        <div class="relative pt-3 homepage_inner__fun-facts_section_inner pb-19">
            <h3 class="section_title font">დაგვიკავშირდით</h3>
            <p class="mx-auto mt-3 services_text font">{{webname}}-ის გუნდი, მზადაა გაგიწიოთ კონსულტაცია სრულიად უფასოდ!</p>

            <div class="relative flex flex-wrap items-center justify-center gap-5 contentBox mt-13">
                <aside class="relative flex flex-col items-center justify-center leftCont">
                    <h4 class="font">ეძებთ <span>ვებ დეველოპერს?</span></h4>
                    <p class="font">დაგვიკავშირდი და მიიღე ამომწურავი ინფორმაცია</p>
                    <button class="overflow-hidden rounded-sm font"><a routerLink="/contact" rel="follow" class="flex items-center justify-center font">კონტაქტი</a></button>
                </aside>
                <aside class="relative flex flex-col items-center justify-center rightCont">
                    <img src="https://webnet.ge/public/images/media/1704985721help.png" width="540px" height="auto" loading="lazy" alt="fun fact image" class="object-cover object-center pointer-events-none select-none" />
                </aside>
            </div>
            
        </div>
    </section>
    
    <section class="relative flex items-start justify-center homepage_inner__project-section" *ngIf="true">
        <div class="relative pt-4 homepage_inner__project-section-inner pb-18">
            <p class="mx-auto services_text font">დასრულებული ნამუშევრები</p>
            <h3 class="section_title font">ჩვენი <span>გამორჩეული</span> პროექტები.</h3>

            <div class="relative flex flex-wrap items-center justify-center w-full gap-5 project_card_cont mt-7">

                <div class="relative project_card_cont_item rounded-2xl" *ngFor="let item of projectArray; let i = index">
                    <div class="relative overflow-hidden card_image rounded-2xl"><img class="object-cover w-full h-full pointer-events-none select-none" [src]="item.image" loading="lazy" alt="project image banner"></div>

                    <div class="relative flex flex-col items-start justify-start mt-5 card_desc">
                        <p class="projectID font"><span class="pointer-events-none"><span *ngIf="i < 9">0</span><span>{{i + 1}}</span></span></p>
                        <h2 class="font card_title">{{item.title}}</h2>
                        <p class="project-category font">ტექნოლოგია: {{item.tecnology}}</p>
                        <a routerLink="{{item.link}}" rel="follow" class="flex font cardBtn">დათვალიერება
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" class="flex ml-2" fill="#ffffff"
                            style="position: absolute; position: relative; bottom: -4.5px;"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>
                        </a>
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
    </section>
    
    
    
</section>